.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .1em 0em;
    margin-top: .5em;
    width: 99vw;
    overflow: hidden;
    padding: .5em 0em;
}

.navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .7em;
    background-color: transparent;
    cursor: pointer;
}

.active-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
}


.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 120px;
}

.menu-container {
    z-index: 9999;
    position: absolute;
    left: 0;
    transition: all 1s;
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    top: 90px;
    background-color: var(--theme-black);
    transform: translateY(-120%);
    transition: transform 0.3s;
}

.harmburger, .harmburger1, .harmburger2 {
    width: 2.5em;
    border-radius: .2em;
    height: .3em;
    margin: .1em;
    transition: all 1s;
    border: 1px solid var(--theme-green);
}

.harmburger1 {
    border: none;
    background: var(--theme-green);
    width: 2.3em;
}

.close {
    width: 1.7em;
    height: .3em;
}

.off {
    width: 2em;
    height: .3em;
}

.close1 {
    width: 2.3em;
    height: .3em;
}


.active {
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.active ul {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-container ul li a {
    font-family: var(--Montserrat);
    font-size: 15px;
    color: var(--theme-color);
}

.active-page {
    color: var(--brown);
}

.menu-container ul li a:hover {
    transform: scale(1.1);
    color: var(--brown);
}

.active ul li {
    align-content: center;
    margin-left: 5px;
    padding: 10px 0px;
    width: 100vw;
    border-bottom: 1px solid var(--brown);
}

.active ul li a {
    font-family: var(--Montserrat);
    font-size: 15px;
    color: var(--theme-color);
    padding-left: 2em;
}

@media screen and (min-width: 900px) {
    .navContainer {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-left: 10px;
        width: 100px;
    }

    .menu-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 0;
        bottom: 0;
        width: 80%;
        transform: translateX(0%);
        background-color: transparent;
    }

    .active ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        transform: translateX(0);
        list-style-type: none;
        margin: 0px;
        padding: 0;
    }

    li {
        display: inline;
        padding: 0 12px;
    }

    li a {
        color: white;
        color: var(--theme-color);
        top: 5px;
        text-align: center;
    }

    li a:hover {
        color: var(--brown) !important;
    }
}